<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title> Help page</title>
    </head>
    <body>
        {{> header}}
        <P>This is a {{pageTitle}}</P>
        
        {{> footer}}
    </body>
</html>
