<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title> {{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <P>{{screamIt pageMessage}}</P>
        
        {{> footer}}
    </body>
</html>
